<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Smartphone</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#newSmartphoneForm').submit(function(event) {
                var keyword = $('#keyword').val();


                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type : "POST",
                    data: keyword,
                    url: "/smartphones/searchKeyword",
                    success: function(smartphone) {
                        var respContent = smartphone;

                        $("#sPhoneFromResponse").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>

<body>
<div id="container">
    <h1>Create new Smartphone</h1>
    <div>
        <p>Here you can create new Smartphone:</p>
        <div id="sPhoneFromResponse"></div>
    </div>
    <form id="newSmartphoneForm" >
        <input type="text" id="keyword">
        <input type="submit">
    </form>

</div>
</body>
</html>