<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<Table border="1" style="border-collapse: collapse">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Get Cart</th>

    </tr>
    <th:block th:each="product:${productList}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{'/cart/{id}'(id=${product.id})}">Get Cart</a></td>
        </tr>
    </th:block>

</Table>

</body>
</html>