<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Comment</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<a href="/create-comment">Create new Comment</a>
<table border="1" style="border-collapse: collapse">
    <tr>
        <th>Image</th>
        <th>Feedback</th>
        <th>Like</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <th:block th:each="comment:${commentList}">
        <tr>
            <td><img width="200px" height="200px" th:src="${comment.getAuthor()}" alt=""></td>
            <td th:text="${comment.getFeedback()}"></td>
            <td th:text="${comment.getTotalLike()}"></td>
            <td><a th:href="@{/delete-comment/__${comment.getId()}__}">Delete</a></td>
            <td><a th:href="@{/edit-comment/__${comment.getId()}__}">Edit</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>