<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="./head"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>

<div class="container">
    <div class="row">
<!--        <th:block th:if="${message}">-->
<!--            <p th:text="${message}"></p>-->
<!--        </th:block>-->
        <div class="col-12">
            <form th:action="@{/edit-customer}" th:object="${customer}" method="post">
                <input type="hidden" th:field="*{id}">
            <label for="">Name</label>
            <input type="text" class="form-control" th:field="*{name}">
            <label for="">Birthday</label>
            <input type="date" class="form-control" th:field="*{birth}">
            <label for="">CMND</label>
            <input type="text" class="form-control" th:field="*{cmnd}">
            <label for="">Phone number</label>
            <input type="text" class="form-control" th:field="*{phone}">
            <label for="">Email</label>
            <input type="text" class="form-control" th:field="*{email}">
            <label for="">Address</label>
            <input type="text" class="form-control" th:field="*{address}">
            <label for="">Customer Type</label>
            <select name="customerType">
                <option th:each="p : ${customerTypeList}"
                        th:value="${p.id}"
                        th:text="${p.name}"
                        th:selected="(${p.id}==*{customerType.id})"></option>
            </select>
                <br>
            <input type="submit" value="Create Customer">
            </form>
        </div>
    </div>
</div>
</body>
</html>