<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete blog</title>
</head>
<body>
<h1>Delete blog</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/">Blog list</a>
</p>
<form th:action="@{/delete-blog}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name Blog:</td>
            <td><input type="text" th:field="*{nameBlog}"/></td>
        </tr>
        <tr>
            <td>Summary:</td>
            <td><input type="text" th:field="*{quickView}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete blog"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input disabled th:field="*{category.nameCategory}"/></td>
        </tr>
    </table>
</form>
</body>
</html>