<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Blog</title>
</head>
<body>
<h1>View Blog</h1>
<p>
    <a href="/">Blog List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/view-blog}" th:object="${blog}">
    <table>
        <tr>
            <td>Name Blog:</td>
            <td><input type="text" th:field="*{nameBlog}"/></td>
        </tr>
        <tr>
            <td>Summary:</td>
            <td><input type="text" th:field="*{quickView}"/></td>
        </tr>
        <tr>
            <td>Content Blog:</td>
            <td><textarea th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input disabled th:field="*{category.nameCategory}"/></td>
        </tr>
    </table>
</form>
</body>
</html>