<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/create}" th:object="${user}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <label for="">First name</label>
    <input type="text"  th:field="*{firstName}">
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    <label for="">Last name</label>
    <input type="text" th:field="*{lastName}">
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    <label for="">Phone number</label>
    <input type="text" th:field="*{phone}">
    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
    <label for="">Age</label>
    <input type="text" th:field="*{age}">
    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    <label for="">Email</label>
    <input type="text" th:field="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <input type="submit">
</form>
</body>
</html>