<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<Table border="1" style="border-collapse: collapse">
    <tr>
        <th>#</th>
        <th>Book Name</th>
        <th>Quanity</th>
        <th>Rent Book</th>
    </tr>
    <th:block th:each="book:${bookList}">
        <tr>
            <td th:text="${book.id}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.quanity}"></td>
            <td><a th:href="@{'/rent/{id}'(id=${book.id})}">Rent this book</a></td>
        </tr>
    </th:block>
</Table>
<a th:href="@{/return}">Return Book</a>
</body>
</html>